<h4>Contact Details</h4>
<table class="table table-borderless">
    <tr>
        <th>First Name:</th>
        <td>{{ selectedContact?.firstName }}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{ selectedContact?.lastName }}</td>
    </tr>
    <tr>
        <th>Phone:</th>
        <td>{{ selectedContact?.phone }}</td>
    </tr>
    <tr>
        <th>E-Mail:</th>
        <td>{{ selectedContact?.email }}</td>
    </tr>
    <tr>
        <th>Address:</th>
        <td>{{ selectedContact?.address }}</td>
    </tr>
</table>